In [1]:
import pandas as pd
pd.options.display.max_columns = 100

In [2]:
cc_dict0 = {'ABC':5,'CBS':5,'FOX':5,'ESPN+ESPN2':11,'SEC N':6}

In [3]:
cc_dict = {'FS1': 5,
 'CBS SN': 3,
 'ESPN U': 3,
 'ESPN News': 5,
 'NFL N': 4,
 'NFL R': 4,
 'NBA TV': 5,
 'MLB': 2,
 'NHL': 1,
 'Big 10': 2,
 'Pac 12': 2,
 'FS2': 3,
 'Fox Soccer +': 6,
 'Bein': 9,
 'College Sports': 2,
 'Gol TV': 3,
 'Real TV': 2,
 'Fubo Sports': 3,
 'All champions League': 10}

cc_dict

{'FS1': 5,
 'CBS SN': 3,
 'ESPN U': 3,
 'ESPN News': 5,
 'NFL N': 4,
 'NFL R': 4,
 'NBA TV': 5,
 'MLB': 2,
 'NHL': 1,
 'Big 10': 2,
 'Pac 12': 2,
 'FS2': 3,
 'Fox Soccer +': 6,
 'Bein': 9,
 'College Sports': 2,
 'Gol TV': 3,
 'Real TV': 2,
 'Fubo Sports': 3,
 'All champions League': 10}

In [106]:
df

,Price,Devices,FS1,CBS SN,ESPN U,ESPN News,NFL N,NFL R,NBA TV,MLB,...,FS2,Fox Soccer +,Bein,College Sports,Gol TV,Real TV,Fubo Sports,All champions League,Try out,Special
Xfinity Extra,24,3,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3,0
Xfinity S/E,34,3,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,3,0
Youtube TV,65,3,1,1,1,1,1,0,1,1,...,1,0,0,0,0,0,0,0,3,49
Youtube TV Sports,76,3,1,1,1,1,1,1,1,1,...,1,1,0,1,1,0,0,0,3,49
Fubo TV,65,1+2,1,1,1,1,1,1,1,1,...,1,1,1,0,0,0,1,0,0,0
Fubo TV +,80,2+3,1,1,1,1,1,1,1,1,...,1,1,1,0,0,0,1,0,0,0
Fanatiz,8,1,0,0,0,0,0,0,0,0,...,0,0,1,0,1,1,0,0,1,0
CBS All access,6,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0

In [10]:
 df0['Unnamed: 1'].tolist()

['Price',
 'Xfinity Extra',
 'Xfinity S/E',
 'Youtube TV',
 'Youtube TV Sports',
 'Fubo TV',
 'Fubo TV +',
 'Fanatiz',
 'CBS All access']

In [9]:
df0 = pd.read_excel('packages_decision.xlsx')
df0
 df0.keys = df0['Unnamed: 0'].tolist()
# df0 = df0.drop('Unnamed: 0')

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,NaN,Price,Devices,FS1,CBS SN,ESPN U,ESPN News,NFL N,NFL R,NBA TV,MLB,...,FS2,Fox Soccer +,Bein,College Sports,Gol TV,Real TV,Fubo Sports,All champions League,Try out,Special,NaN
1,NaN,Xfinity Extra,24,3,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3,0.0
2,NaN,Xfinity S/E,34,3,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,3,0.0
3,NaN,Youtube TV,65,3,1,1,1,1,1,0,1,1,...,1,0,0,0,0,0,0,0,3,49.0
4,NaN,Youtube TV Sports,76,3,1,1,1,1,1,1,1,1,...,1,1,0,1,1,0,0,0,3,49.0
5,NaN,Fubo TV,65,1+2,1,1,1,1,1,1,1,1,...,1,1,1,0,0,0,1,0,0,0.0
6,NaN,Fubo TV +,80,2+3,1,1,1,1,1,1,1,1,...,1,1,1,0,0,0,1,0,0,0.0
7,NaN,Fanatiz,8,1,0,0,0,0,0,0,0,0,...,0,0,1,0,1,1,0,0,1,0.0
8,NaN,CBS All access,6,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0.0

In [160]:
def score(package_list):
    s = 0
    for package in package_list:
        x = df.loc[package]
        s = s + sum([x[k]*cc_dict[k] for k in cc_dict.keys()])
    return s + sum(cc_dict0.values())

def cost(package_list):
    s = 0
    for package in package_list:
        x = df.loc[package]
        s = s + x['Price']
    return s

In [163]:
packages1 = ['Xfinity Extra','Fanatiz','Fanatiz','CBS All access']
print('Score', score(set(packages1)), 'for a price of', cost(packages1))

Score 61 for a price of 46

In [170]:
packages2 = ['Xfinity S/E','Fanatiz','Fanatiz','CBS All access']
print('Score', score(set(packages2)), 'for a price of', cost(packages2))

Score 92 for a price of 56

In [171]:
packages3 = ['Youtube TV', 'Fanatiz','Fanatiz','CBS All access']
print('Score', score(set(packages3)), 'for a price of', cost(packages3))

Score 88 for a price of 87

In [172]:
packages4 = ['Fubo TV +']
print('Score', score(packages4), 'for a price of', cost(packages4))

Score 89 for a price of 80

In [4]:
packagessolo1 = ['Xfinity Extra','Fanatiz','CBS All access']
print('Score', score(packagessolo1), 'for a price of', cost(packagessolo1))

NameError: name 'score' is not defined

In [174]:
packagessolo2 = ['Xfinity S/E','Fanatiz','CBS All access']
print('Score', score(packagessolo2), 'for a price of', cost(packagessolo2))

Score 92 for a price of 48